/* Stylesheet */

body {
	background: #666;
}

p, h3 { 
font-family: 'Ruda', sans-serif;
}

h3 {
	text-transform: uppercase;
}

header { 

}

nav {
	
}

blockquote {
	
}

footer {
	
}

section {

}

.container_12 {
	background: white;
}