/* Stylesheet */

body {
        background: url("../img/bg.png");
}

#logo {
        width: 50%;
}

p {
        font-family: 'Noto Sans', sans-serif;
}

h3 {
	text-transform: uppercase;
}

 li {
  float: left;  
  line-height: 50px;
  list-style: none;
  		margin: 0 20px 0 10px;
  text-align: right;
  width: 150px;
}



nav a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  height: 50px;
  width: 150px;  
  display: block;
  padding: 0 10px 0 0;
}

#google a:hover {
  background: url("../img/chrome.png") no-repeat 55px center;

}

#mozilla a:hover {
  background: url("../img/firefox.png") no-repeat 50px center;
}

#apple a:hover {
  background: url("../img/safari.png") no-repeat 50px center;
}

#microsoft a:hover {
  background: url("../img/ie.png") no-repeat 50px center;
}

#opera a:hover {
  background: url("../img/opera.png") no-repeat 50px center;
}


footer {

}

section {
}

/* Helper Class to Show Grid */
.showgrid {
        background: url("../img/12-col-grid.gif");
}