/* Stylesheet */

body {
        background: url("../img/bg.png");
}


li {
  float: left;
   line-height: 50px;
  list-style: none;
	margin: 0 5px;
  
  text-align: right;

}

a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  height: 50px;
  width: 150px;  
  display: block;
  padding: 0 10px 0 0;
}

a:hover {
  background: blue;

}

/* Helper Class to Show Grid */
.showgrid {
        background: url("../img/12-col-grid.gif");
}